footer.footer 
  .container 
    .footer-top 
      .footer-column
        a(href="index.html").footer-heading.footer-heading--logo MoGo
        p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p.footer-follower <strong>15k</strong> followers
        .footer-social
          span Follower us:
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook  
            a.footer-social-icon(href="#")
              i.footer-social-icon.fab.fa-twitter  
            a.footer-social-icon(href="#")
              i.footer-social-icon.fab.fa-instagram  
            a.footer-social-icon(href="#")
              i.footer-social-icon.fab.fa-google 
            a.footer-social-icon(href="#")
              i.footer-social-icon.fab.fa-youtube
        form.footer-form(action="#")
          input(type= "email" placeholder= "Your eamil").footer-form-input
          button().footer-form-btn Subcribe
      .footer-column
        h3.footer-heading Blogs 
        a.footer-block(href="#")
          img.footer-block-img(src="./images/img-blogs1.png" alt="")
          .footer-block-content
            p.footer-block-title Lorem ipsum dolor sit amet consectetur adipiscing
            span.footer-block-date July 21, 2001
        a.footer-block(href="#")
          img.footer-block-img(src="./images/img-blogs2.png" alt="")
          .footer-block-content
            p.footer-block-title Lorem ipsum dolor sit amet consectetur adipiscing
            span.footer-block-date July 21, 2001
        a.footer-block(href="#")
          img.footer-block-img(src="./images/img-blogs3.png" alt="")
          .footer-block-content
            p.footer-block-title Lorem ipsum dolor sit amet consectetur adipiscing
            span.footer-block-date July 21, 2001
      .footer-column
        h3.footer-heading Instagram
        .footer-imgs
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="./images/img-instagram1.png" alt="")
          .footer-img
            img(src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" alt="")
          .footer-img
            img(src="https://images.unsplash.com/photo-1560250056-07ba64664864?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xpZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="")
          a(href="#").footer-imgs-more View more photos 
    .footer-bottom @ 2016 Mogo free PSD template by <span>Laaqiq</span> 