section.number  
  .container  
    .number-list 
      +numberItem("42", "Web Design Project")
      +numberItem("123", "Happy Client")
      +numberItem("15", " Award Winner")  
      +numberItem("99", "Cup Of Coffee")  
      +numberItem("24", "Members")  