section.people
	.container 
		+blockBox("Happy Clinets", "What people say")
		.people-list
			+peopleItem("./images/img-people1.png","matthew dix", "Graphic Design")
			+peopleItem("./images/img-people2.png","Nick karvounis", "Graphic Design")
			+peopleItem("./images/img-people3.png","jaelynn castillo", "Graphic Design")
			+peopleItem("./images/img-people4.png","mike petrucci", "Graphic Design")