section.quote 
  .container 
    .quote-container 
      //- i.fa.fa-angle-left.quote-arrow-icon
      +quoteItem()
      +quoteItem()
      +quoteItem()
      +quoteItem()
      +quoteItem()
      
      
      //- i.fa.fa-angle-right.quote-arrow-icon  