section.services 
  .container
    +blockBox("We Work With", "Amazin Sevices")
    .services-container 
      .services-list
        +servicesItem("../images/img-service-icon1.png", "Photography" ," Lorem ipsum dolor sit amet consectetur adipisicing elit.Nihil quae elit.Nihil quae adipisicing elit.Nihil quae elit.Nihil quae")
        +servicesItem("../images/img-service-icon2.png", "Web Deisgn" ," Lorem ipsum dolor sit amet consectetur adipisicing elit.Nihil quae elit.Nihil quae adipisicing elit.Nihil quae elit.Nihil quae")
        +servicesItem("../images/img-service-icon3.png", "Creativity" ," Lorem ipsum dolor sit amet consectetur adipisicing elit.Nihil quae elit.Nihil quae adipisicing elit.Nihil quae elit.Nihil quae")
      .services-list 
        +servicesItem("../images/img-service-icon4.png", "Ceo" ," Lorem ipsum dolor sit amet consectetur adipisicing elit.Nihil quae elit.Nihil quae adipisicing elit.Nihil quae elit.Nihil quae")
        +servicesItem("../images/img-service-icon5.png", "HTML/CSS" ," Lorem ipsum dolor sit amet consectetur adipisicing elit.Nihil quae elit.Nihil quae adipisicing elit.Nihil quae elit.Nihil quae")
        +servicesItem("../images/img-service-icon6.png", "Digital" ," Lorem ipsum dolor sit amet consectetur adipisicing elit.Nihil quae elit.Nihil quae adipisicing elit.Nihil quae elit.Nihil quae")