section.team 
  .container
    +blockBox("Who we are", "Meet our team" , "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque aspernatur ut a, esse cum adipisci quidem commodi officiis vel vero iste eveniet sequi reprehenderit. Libero cum enim illo accusantium perferendis")
    .team-list 
      +itemTeam("./images/img-team1.png", "Matthew Dix", "Graphic Design")
        +teamSocialItem("#")
      +itemTeam("./images/img-team2.png", "Matthew Dix", "Graphic Design")
        +teamSocialItem("google")
      +itemTeam("./images/img-team3.png", "Matthew Dix", "Graphic Design")
        +teamSocialItem("google")
section.brand 
  .container   
    img.brand-img(src="../images/img-logos.png", alt="Logo")
